@import "src/App.scss";

@each $tema, $cor in $cores {
  $cor-texto: map-get($cor, cor-texto);
  $cor-pagina: map-get($cor, cor-pagina);

  $cor1: map-get($cor, color1);
  $cor2: map-get($cor, color2);
  $cor3: map-get($cor, color3);
  $cor4: map-get($cor, color4);
  $cor5: map-get($cor, color5);

  $svg1: str_slice(#{$cor1}, 2, 7);
  $svg2: str_slice(#{$cor2}, 2, 7);
  $svg3: str_slice(#{$cor3}, 2, 7);
  $svg4: str_slice(#{$cor4}, 2, 7);

  body,
  body.#{$tema} {
    // TIMELINE HORIZONTAL
    .horizontalTimeline {
      position: relative;
      margin: $espaco-margin 0;

      ul {
        position: relative;
        background: none;
        width: 100%;
        margin: 0 auto;
        height: 130px;
        z-index: 2;

        &::before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 100%;
          height: 1px;
          border-bottom: 4px solid $cor1;

          @include transform(translateX(-50%));
        }

        .group-timeline {
          display: flex !important;
          justify-content: space-around;
          width: 100%;

          li {
            border: 3px solid $cor1;
            list-style: none;
            background: $cor2;
            border-radius: 50%;
            margin: auto !important;
            position: relative;
            cursor: pointer;
            width: 94px;
            height: 94px;

            &::before,
            &::after {
              position: absolute;
              top: 50%;
              left: 50%;
              @include transform(translate(-50%, -50%));
              @include transition(all 300ms ease-in-out);
            }
            &::before {
              content: "";
              z-index: 1;
              background-color: transparent;
              border-radius: 50%;
              width: 100%;
              height: 100%;
            }
            &::after {
              content: "";
              z-index: 0;
              background: $cor1;
              border: 0;
              border-radius: 50%;
              width: 50%;
              height: 50%;
              opacity: 0;
            }

            span {
              position: absolute;
              color: $cor5;
              z-index: 5;
              top: 50%;
              left: calc(50% + 1px);
              font-family: $fonte;
              font-size: 30px;
              @include transform(translate(-50%, -50%));
              @include transition(all 500ms ease-in-out);

              &::before {
                content: "";
                position: absolute;
                bottom: -58px;
                left: 50%;
                width: 3px;
                height: 35px;
                background: $cor1;
                @include transform(translateX(-50%));
              }
              &::after {
                content: "";
                position: absolute;
                bottom: -63px;
                left: 50%;
                // width: 80px;
                width: 0;
                height: 8px;
                border-radius: 8px;
                opacity: 0;
                background: $cor3;
                @include transform(translateX(-50%));
                @include transition(all 300ms ease-in-out);
              }
            }

            .check {
              position: absolute;
              bottom: 0;
              right: -5%;
              width: 35%;
              height: 35%;
              background: url(../../../globalAssets/images/check.svg)
                no-repeat
                center;
              z-index: 1;
              opacity: 1;
              @include transform(scale(1));
              @include transition(all 500ms ease-in-out);
            }

            .notCheck {
              @include transform(scale(0));
              opacity: 0;
            }

            &:hover {
              background: #fff;
              border: 3px solid $cor3;
              @include transition(all 500ms ease-in-out);

              &::after {
                width: 85%;
                height: 85%;
                opacity: 1;
                @include transition(all 500ms ease-in-out);
              }

              span {
                color: #fff;
              }
            }

            &.tab-timeline-selected {
              background: #fff;
              background-image: none !important;
              border: 3px solid $cor3;
              cursor: default;

              &::before {
                background-color: $cor1;
                border: 0;
                border-radius: 50%;
                width: calc(100% - 14px);
                height: calc(100% - 14px);
              }
              &::after {
                opacity: 0;
              }

              span {
                color: #fff;

                &::after {
                  opacity: 1;
                  width: 60px;
                }
              }
            }
          }
        }
      }

      .contentTimeline {
        background-color: $cor5;
        border-bottom-left-radius: $radius-padrao;
        border-bottom-right-radius: $radius-padrao;
        padding: 2.5em 2em;
        position: relative;

        .horizontalTimeline-content {
          padding: 0;
          margin: 0 auto;
          position: relative;
          z-index: 3;
          @include transition(all 800ms ease-in-out);

          &.tab-timeline-disabled {
            position: absolute;
            display: flex;
            top: 30%;

            @include animation(
              unfoldOut 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards
            );
          }
          &.tab-timeline-active {
            display: flex;
            align-items: center;

            @include animation(
              unfoldIn 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards
            );
          }

          .horizontalTimeline-title {
            color: $cor1;
            font-size: 3em;
            float: left;
            padding: 0 10px;
            margin-right: 15px;
            display: flex;
            align-items: center;
            position: relative;
          }

          .horizontalTimeline-text {
            flex: 1;
            margin: 0 auto;
            .title {
              margin-bottom: 0;
            }
            .textBlock {
              color: $cor-texto;
              font-size: 1.1em;

              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }

      @media #{$bp-phone} {
        ul {
          height: 80px;

          .group-timeline {
            li {
              border: 2px solid $cor1;
              width: 50px;
              height: 50px;

              span {
                font-size: 21px;

                &::before {
                  bottom: -38px;
                  height: 30px;
                }
                &::after {
                  bottom: -41px;
                }
              }

              &.tab-timeline-selected {
                border: 2px solid $cor3;

                &::before {
                  width: calc(100% - 8px);
                  height: calc(100% - 8px);
                }

                span {
                  &::after {
                    width: 30px;
                  }
                }
              }
            }
          }
        }

        .contentTimeline {
          padding: 1em;

          .horizontalTimeline-content {
            .horizontalTimeline-title {
              display: none;
            }

            .horizontalTimeline-text {
              p {
                font-size: 1em;
              }
            }
          }
        }
      }
    }
  }
}
