$cores: (
  azulVerde: (
    cor-texto: #6a6767,
    cor-pagina: #f5f6fa,
    color1: #001030,
    color2: #004a4c,
    color3: #00a075,
    color4: #066d4e,
    color5: #eaebef,
  ),
  azulAmarelo: (
    cor-texto: #6a6767,
    cor-pagina: #f5f6fa,
    color1: #213ce6,
    color2: #f5f6fa,
    color3: #0f1c68,
    color4: #f5b700,
    color5: #eaebef,
  ),
  laranja: (
    cor-texto: #431f2c,
    cor-pagina: #fcf0e6,
    color1: #e54b2e,
    color2: #fcf9f7,
    color3: #88512c,
    color4: #c53c20,
    color5: #fcf9f7,
  ),
  verdeAreia: (
    cor-texto: #000000,
    cor-pagina: #fcf6f2,
    color1: #2ed3ae,
    color2: #ebe7e4,
    color3: #ceb8a1,
    color4: #2eacae,
    color5: #ebe7e4,
  ),
  custom: (
    cor-texto: $cor-texto,
    cor-pagina: $cor-pagina,
    color1: $cor1,
    color2: $cor2,
    color3: $cor3,
    color4: $cor4,
    color5: $cor5,
  ),
);
