@import "src/App.scss";

@each $tema, $cor in $cores {
  $cor-texto: map-get($cor, cor-texto);
  $cor-pagina: map-get($cor, cor-pagina);

  $cor1: map-get($cor, color1);
  $cor2: map-get($cor, color2);
  $cor3: map-get($cor, color3);
  $cor4: map-get($cor, color4);
  $cor5: map-get($cor, color5);

  $svg1: str_slice(#{$cor1}, 2, 7);
  $svg2: str_slice(#{$cor2}, 2, 7);
  $svg3: str_slice(#{$cor3}, 2, 7);
  $svg4: str_slice(#{$cor4}, 2, 7);

  body,
  body.#{$tema} {
    .navComponent {
      @at-root {
        nav#{&} {
          width: 100%;
          position: fixed;
          top: $altura-header;
          height: 0;
          opacity: 0;
          overflow: hidden;
          z-index: 99;

          @include transition(all 500ms ease-in);

          .conteudoMenu {
            position: relative;

            ul {
              counter-reset: numberLi;
              list-style: none;
              margin: 0;
              padding: 0;

              li {
                position: relative;
                text-transform: uppercase;
                margin: 0;
                padding: 0;
                width: 100%;

                &::before {
                  background: $cor2;
                  border-bottom: solid 2px $cor4;
                  content: "";
                  position: absolute;
                  width: 100vw;
                  height: 100%;
                  left: 50%;
                  top: 0;
                  z-index: 0;

                  @include transition(all 0.6s);
                  @include transform(translateX(-50%));
                }

                &:hover {
                  &::before {
                    background: $cor4;
                  }
                }

                &.active {
                  &::before {
                    background: $cor4;
                    border-color: $cor2;
                  }

                  a {
                    cursor: default;
                    color: #fff;

                    &::before {
                      background: $cor1;
                      color: #fff;
                    }
                  }
                }

                a {
                  color: $cor3;
                  display: flex;
                  align-items: center;
                  font-family: $fonte3;
                  font-weight: 700;
                  font-size: 24px;

                  margin: 0;
                  padding: 12px 0;
                  text-decoration: none;
                  text-transform: uppercase;
                  position: relative;
                  height: 100%;
                  width: 100%;
                  z-index: 12;

                  @include transition(all 0.4s);

                  &:hover,
                  &:focus {
                    color: #fff;
                  }

                  &::before {
                    background: $cor1;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: #fff;
                    font-size: 21px;
                    width: 30px;
                    height: 30px;
                    counter-increment: numberLi;
                    content: counter(numberLi);
                    border-radius: 50%;
                    position: relative;
                    margin-right: 10px;
                  }

                  &::after {
                    background: transparent;
                    content: "";
                    position: absolute;
                    width: 100vw;
                    height: 100%;
                    left: 50%;
                    top: 0;
                    z-index: 10;

                    @include transform(translateX(-50%));
                  }
                }
              }

              &.ulMenu,
              &.ulMenuOne {
                li {
                  cursor: pointer;
                  font-size: 1rem;
                  color: #fff;
                  padding: 0.5em 0;

                  &::before {
                    z-index: -1;
                  }

                  &.travado {
                    color: #aaa;
                    cursor: default;

                    &::before {
                      background: #aaa;
                      border-bottom-color: #666;
                    }
                  }
                }
              }
            }
          }

          .menuBG {
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 0;
            background: rgba(#000, 0.65);
            z-index: -1;
            opacity: 0;

            @include transition(all 500ms ease-in);
          }

          // Abre e Fecha Menu
          &.menu-aberto {
            opacity: 1;
            height: calc(100% - 140px);
            overflow-y: visible;

            .menuBG {
              height: 100vh;
              opacity: 1;
            }

            //.conteudoMenu { height: 100vh; }
          }
        }
      }
    }
  }
}
