@import "src/styles/default/_init.scss";

.wrapper {
  position: relative;
  padding-top: $alt-top;
  padding-bottom: $espaco-margin * 2;
  overflow-x: hidden;

  @media #{$bp-phone} {
    position: relative;
  }
}
