@import "src/styles/default/_init.scss";

.headerComponent {
  @at-root {
    header#{&} {
      background: $cor1;
      border: none;
      display: block;
      height: $altura-header;
      width: 100%;
      position: fixed;
      z-index: 100;

      .row {
        height: $altura-header;
        position: relative;
      }

      @media #{$bp-phone} {
        .form-select {
          display: none;
        }
      }
      @include transition(all 0.4s);
    }
  }
}
