@import "src/App.scss";

@each $tema, $cor in $cores {
  $cor-texto: map-get($cor, cor-texto);
  $cor-pagina: map-get($cor, cor-pagina);

  $cor1: map-get($cor, color1);
  $cor2: map-get($cor, color2);
  $cor3: map-get($cor, color3);
  $cor4: map-get($cor, color4);
  $cor5: map-get($cor, color5);

  $svg1: str_slice(#{$cor1}, 2, 7);
  $svg2: str_slice(#{$cor2}, 2, 7);
  $svg3: str_slice(#{$cor3}, 2, 7);
  $svg4: str_slice(#{$cor4}, 2, 7);

  body,
  body.#{$tema} {
    .headerComponent {
      @at-root {
        header#{&} {
          background: $cor1;
          border: none;
          display: block;
          height: $altura-header;
          width: 100%;
          position: fixed;
          z-index: 100;

          .row {
            height: $altura-header;
            position: relative;
          }

          @media #{$bp-phone} {
            .form-select {
              display: none;
            }
          }
          @include transition(all 0.4s);
        }
      }
    }
  }
}
