@import "src/App.scss";

@each $tema, $cor in $cores {
  $cor-texto: map-get($cor, cor-texto);
  $cor-pagina: map-get($cor, cor-pagina);

  $cor1: map-get($cor, color1);
  $cor2: map-get($cor, color2);
  $cor3: map-get($cor, color3);
  $cor4: map-get($cor, color4);
  $cor5: map-get($cor, color5);

  $svg1: str_slice(#{$cor1}, 2, 7);
  $svg2: str_slice(#{$cor2}, 2, 7);
  $svg3: str_slice(#{$cor3}, 2, 7);
  $svg4: str_slice(#{$cor4}, 2, 7);

  body,
  body.#{$tema} {
    // TABLE GRID
    .table-grid {
      background-color: $cor1;
      display: grid;
      padding: 3px;
      margin: $espaco-margin auto;
      grid-template-columns: auto auto auto;
      grid-gap: 3px;

      .item {
        background-color: $cor3;
        color: $cor5;
        padding: 10px;
        text-align: center;

        &.item-1 {
          grid-row-start: 1;
          grid-row-end: 3;
        }

        &.item-4,
        &.item-5 {
          background-color: $cor5;
          color: $cor1;
        }
      }
    }
  }
}
