@import "src/App.scss";

.tamanho {
  height: 500px;
  align-items: center;
}

.my-thing {
  width: 80%;
  height: 150px;

  background-color: red;
}
.my-thing2 {
  width: 40%;
  height: 150px;
  background-color: green;
}

.containerParallax {
  position: relative;
  width: 100%;
  height: 100%;
  display: block;
  background-color: red;
}

.posAbsolute {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.rela {
  position: relative;
}
